# general config
TAG: 'APGCC_SHHA'
SEED: 1229
GPU_ID: 0
OUTPUT_DIR: './output/'
VIS: False
# model config
MODEL:
  ENCODER: 'vgg16_bn' # ['vgg16', 'vgg16_bn', 'resnet18', 'resnet34', 'resnet50', 'resnet101', 'resnet152']
  ENCODER_kwargs: {"last_pool": False}
  DECODER: 'IFI' # ['basic', 'IFI']
  DECODER_kwargs: {"num_classes": 2, "inner_planes": 64, "feat_layers":[3,4], "pos_dim": 32, "ultra_pe": True, "learn_pe": False, "unfold": False,
                   "local": True, "no_aspp": False, "require_grad": True, "out_type": 'Normal', "head_layers": [1024,512,256,256]}
  FROZEN_WEIGHTS: None
  STRIDE: 8
  ROW: 2
  LINE: 2
  POINT_LOSS_COEF: 0.0002
  EOS_COEF: 0.5
  LOSS: ['L2']
  WEIGHT_DICT: {'loss_ce': 1, 'loss_points': 0.0002, 'loss_aux': 0.2} 
  AUX_EN: True
  AUX_NUMBER: [2, 2]
  AUX_RANGE: [2, 8]
  AUX_kwargs: {'pos_coef': 1., 'neg_coef': 1., 'pos_loc': 0.0002, 'neg_loc': 0.0002}
# resume training
RESUME: False
RESUME_PATH: ''
# dataset config
DATASETS:
  DATASET: 'SHHA'
  DATA_ROOT: 'data/sha/part_A'
DATALOADER:
  AUGUMENTATION: ['Normalize', 'Crop', 'Flip']
  CROP_SIZE: 128
  CROP_NUMBER: 4
  UPPER_BOUNDER: -1
  NUM_WORKERS: 0
# training config
SOLVER:
  BATCH_SIZE: 8
  START_EPOCH: 0
  EPOCHS: 3500
  LR: 0.0001
  LR_BACKBONE: 0.00001
  WEIGHT_DECAY: 0.0001
  LR_DROP: 3500
  CLIP_MAX_NORM: 0.1
  EVAL_FREQ: 1
  LOG_FREQ: 1
# matcher config
MATCHER:
  SET_COST_CLASS: 1.
  SET_COST_POINT: 0.05
# testing config
TEST:
  THRESHOLD: 0.5
  WEIGHT: './output/SHHA_best.pth'